<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.shenit.tutorial.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="helloworld.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.shenit.tutorial.android.entities" />

        <activity android:name=".list.ArrayAdapterExampleActivity" />
        <activity android:name=".list.BookDetailActivity" />
        <activity android:name=".drawable.SimpleDrawableExampleActivity" />
        <activity android:name=".drawable.RemoteDrawableExampleActivity" />
        <activity android:name=".asynccall.AsyncTaskExampleActivity" />
        <activity android:name=".asynccall.ExecutorExampleActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InteractExampleActivity" />
        <activity android:name=".HelloWorldActivity" />
        <activity android:name=".drawable.RemoteDrawableListExampleActivity" />
        <activity android:name=".drawable.GlideExampleActivity" />
        <activity android:name=".drawable.ShapeDrawableExampleActivity" />
        <activity android:name=".drawable.DrawableMainActivity" />
        <activity android:name=".drawable.OtherDrawableExampleActivity" />
        <activity android:name=".ActivityLifeCycleExampleActivity" />
        <activity android:name=".ReturnResultActivity" />
        <activity android:name=".dataproc.DataProcessExamplesActivity" />
        <activity android:name=".dataproc.JsonProcessExample" />
        <activity android:name=".dataproc.InternalStorageExampleActivity" />
        <activity android:name=".dataproc.SharedPreferencesExampleActivity" />
        <activity android:name=".dataproc.ExternalStorageExampleActivity" />
        <activity android:name=".dataproc.SQLiteStorageExampleActivity" />
        <activity android:name=".dataproc.SugarOrmExampleActivity" />
        <activity android:name=".asynccall.AsyncTaskLoaderExampleActivity" />
        <activity android:name=".asynccall.AsyncCallExamplesActivity" />
        <activity android:name=".list.ListExamplesActivity" />
        <activity android:name=".list.CursorAdapterExampleActivity" />

        <provider
            android:name=".dataprovider.ArticlesDataProvider"
            android:authorities="org.shenit.tutorial.android">
            <path-permission
                android:pathPattern="org.shenit.tutorial.android/articles/*"
                android:permission="org.shenit.tutorial.android.ARTICLES_PERMISSION" />
        </provider>

        <activity android:name=".dataprovider.DataProviderExamplesActivity" />
        <activity android:name=".dataprovider.SimpleDataProviderExampleActivity" />
        <activity android:name=".dataprovider.CursorLoaderExampleActivity" />
        <activity android:name=".dataprovider.ContactDataProviderExampleActivity" />
        <activity android:name=".dataprovider.ContactEntityActivity" />
        <activity android:name=".menu.MenuExamplesActivity" />
        <activity android:name=".menu.TopMenuExampleActivity" />
        <activity android:name=".menu.ContextMenuExampleActivity" />
        <activity android:name=".fragment.SimpleFragmentExampleActivity" />
        <activity android:name=".fragment.FragmentExamplesActivity" />
        <activity android:name=".fragment.LifeCycleExampleActivity" />
        <activity android:name=".menu.PopupMenuExampleActivity" />
        <activity android:name=".list.PullToRefreshExampleActivity" />
        <activity android:name=".pager.PagerExamplesActivity" />
        <activity
            android:name=".pager.ViewPagerExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FetchResultActivity" />
        <activity android:name=".recyclerview.RecyclerViewExamplesActivity" />
        <activity android:name=".recyclerview.RecyclerViewLinearLayoutExampleActivity" />
        <activity android:name=".recyclerview.RecyclerViewGridLayoutExample"></activity>
    </application>

</manifest>
